rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Check for specific admin email
    function isAdmin() {
       return request.auth.token.email == "aryan@evotyindia.me";
    }

    match /blog-images/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
